includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database
        - routes
        - tests

    level: 5

    ignoreErrors:
        -
            message: '#Unsafe usage of new static#'
            paths:
                - app/Models/Setting.php
